USE [master]
GO
/****** Object:  Database [QLSuaMocChau]    Script Date: 1/5/2023 2:18:02 PM ******/
CREATE DATABASE [QLSuaMocChau]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSuaMocChau', FILENAME = N'E:\DESKTOP\Đồ án truy xuất nguồn gốc sữa\dbMocChau\QLSuaMocChau.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSuaMocChau_log', FILENAME = N'E:\DESKTOP\Đồ án truy xuất nguồn gốc sữa\dbMocChau\QLSuaMocChau_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSuaMocChau].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSuaMocChau]
GO
/****** Object:  Table [dbo].[LoHang]    Script Date: 1/5/2023 2:18:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoHang](
	[MaLoHang] [int] IDENTITY(1,1) NOT NULL,
	[TenLoHang] [nvarchar](50) NULL,
	[NgaySanXuat] [datetime] NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_LoHang] PRIMARY KEY CLUSTERED 
(
	[MaLoHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 1/5/2023 2:18:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nchar](30) NULL,
	[MatKhau] [nchar](20) NULL,
	[MoTa] [nvarchar](max) NULL,
	[MaVaiTro] [int] NULL,
	[SoE] [nvarchar](500) NULL,
	[SoN] [nvarchar](500) NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyTrinh]    Script Date: 1/5/2023 2:18:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyTrinh](
	[MaQuyTrinh] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyTrinh] [nvarchar](50) NULL,
	[MoTa] [nvarchar](max) NULL,
	[MaSanPham] [int] NULL,
	[ChuKi] [nvarchar](max) NULL,
	[MaNguoiDung] [int] NULL,
	[NgayKy] [datetime] NULL,
	[TrangThai] [int] NULL,
	[MaLoHang] [int] NULL,
	[TepTinChungThuc] [nvarchar](max) NULL,
	[TrangThaiXacThuc] [int] NULL,
 CONSTRAINT [PK_QuyTrinh] PRIMARY KEY CLUSTERED 
(
	[MaQuyTrinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 1/5/2023 2:18:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](50) NULL,
	[MoTa] [nvarchar](max) NULL,
	[HinhAnh] [nchar](50) NULL,
	[MaLoHang] [int] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 1/5/2023 2:18:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[MaVaitro] [int] IDENTITY(1,1) NOT NULL,
	[VaiTro] [nvarchar](100) NULL,
	[ThongTinKhoa] [nvarchar](500) NULL,
 CONSTRAINT [PK_VaiTro] PRIMARY KEY CLUSTERED 
(
	[MaVaitro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LoHang] ON 

INSERT [dbo].[LoHang] ([MaLoHang], [TenLoHang], [NgaySanXuat], [GhiChu]) VALUES (3, N'Lô hàng quý 3', CAST(N'2020-06-01T00:00:00.000' AS DateTime), N'HSD: 1 năm kể từ ngày SX	')
SET IDENTITY_INSERT [dbo].[LoHang] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TaiKhoan], [MatKhau], [MoTa], [MaVaiTro], [SoE], [SoN]) VALUES (1, N'admin                         ', N'123456              ', N'Quản lý hệ thống', 1, NULL, NULL)
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TaiKhoan], [MatKhau], [MoTa], [MaVaiTro], [SoE], [SoN]) VALUES (2, N'nhasanxuat                    ', N'123456              ', N'Nhà sản xuất sữa', 3, NULL, NULL)
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TaiKhoan], [MatKhau], [MoTa], [MaVaiTro], [SoE], [SoN]) VALUES (3, N'quanlythitruong               ', N'123456              ', N'Quản lý thị trường', 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[QuyTrinh] ON 

INSERT [dbo].[QuyTrinh] ([MaQuyTrinh], [TenQuyTrinh], [MoTa], [MaSanPham], [ChuKi], [MaNguoiDung], [NgayKy], [TrangThai], [MaLoHang], [TepTinChungThuc], [TrangThaiXacThuc]) VALUES (17, N'Quy trình chăn nuôi', NULL, 5, N'1419071465854478245639247857879041711493402543450356833139662961497657173709732947087940932213064883331857522302622158535199637699040059309797148551576526', 4, NULL, 2, 3, N'/Images/files/mc.png', 0)
INSERT [dbo].[QuyTrinh] ([MaQuyTrinh], [TenQuyTrinh], [MoTa], [MaSanPham], [ChuKi], [MaNguoiDung], [NgayKy], [TrangThai], [MaLoHang], [TepTinChungThuc], [TrangThaiXacThuc]) VALUES (18, N'Quy trình lấy sữa', NULL, 5, N'7158611943331517297843381281570099320447702158956790464963642009707954870536418226493858789788810700325386111018692554512795455518822191230937119594902742', 4, NULL, 2, 3, N'/Images/files/qtlaysua.png', 0)
INSERT [dbo].[QuyTrinh] ([MaQuyTrinh], [TenQuyTrinh], [MoTa], [MaSanPham], [ChuKi], [MaNguoiDung], [NgayKy], [TrangThai], [MaLoHang], [TepTinChungThuc], [TrangThaiXacThuc]) VALUES (19, N'Quy trình chế biến sữa', NULL, 5, N'7145899020828356661619492106961763041112385060294845749214658964062587593401635467746632083064419810623821521878941076978566190777061594953309554435139457', 8, NULL, 1, 3, N'/Images/files/qtchebien1.png', 1)
SET IDENTITY_INSERT [dbo].[QuyTrinh] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [MoTa], [HinhAnh], [MaLoHang], [TrangThai]) VALUES (5, N'Sữa tiệt trùng', NULL, N'/Images/files/tiettrung.jpg                       ', 3, 0)
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [MoTa], [HinhAnh], [MaLoHang], [TrangThai]) VALUES (6, N'Sữa thanh trùng', NULL, N'/Images/files/thanhtrungchai.jpg                  ', 3, 0)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[VaiTro] ON 

INSERT [dbo].[VaiTro] ([MaVaitro], [VaiTro], [ThongTinKhoa]) VALUES (1, N'Admin', NULL)
INSERT [dbo].[VaiTro] ([MaVaitro], [VaiTro], [ThongTinKhoa]) VALUES (2, N'Cơ quan kiểm Định', NULL)
INSERT [dbo].[VaiTro] ([MaVaitro], [VaiTro], [ThongTinKhoa]) VALUES (3, N'Nhà sản xuất', NULL)
SET IDENTITY_INSERT [dbo].[VaiTro] OFF
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_VaiTro] FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VaiTro] ([MaVaitro])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_VaiTro]
GO
ALTER TABLE [dbo].[QuyTrinh]  WITH CHECK ADD  CONSTRAINT [FK_QuyTrinh_LoHang] FOREIGN KEY([MaLoHang])
REFERENCES [dbo].[LoHang] ([MaLoHang])
GO
ALTER TABLE [dbo].[QuyTrinh] CHECK CONSTRAINT [FK_QuyTrinh_LoHang]
GO
ALTER TABLE [dbo].[QuyTrinh]  WITH CHECK ADD  CONSTRAINT [FK_QuyTrinh_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[QuyTrinh] CHECK CONSTRAINT [FK_QuyTrinh_NguoiDung]
GO
ALTER TABLE [dbo].[QuyTrinh]  WITH CHECK ADD  CONSTRAINT [FK_QuyTrinh_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[QuyTrinh] CHECK CONSTRAINT [FK_QuyTrinh_SanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoHang] FOREIGN KEY([MaLoHang])
REFERENCES [dbo].[LoHang] ([MaLoHang])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoHang]
GO
USE [master]
GO
